.profile {
  padding: 4rem;

}

.profile_main {

  margin: 0.5rem;
  background-color: white;
  box-shadow: -9px 8px 56px -3px rgba(0,0,0,0.75);
}
.profile_banner {

  background: linear-gradient(
    110deg,
    rgb(247, 131, 150),
    pink,
    rgb(247, 131, 150),
    pink,
    rgb(247, 131, 150)
  );
  text-align: center !important;
  padding: 1rem;
}
.profile_banner img {
  border-radius: 50%;
  height: 14rem !important;
  width: 14rem;
}
li{
  list-style: none;
}
.contents li {
  list-style-type: none;
  line-height: 2.4rem;
}
.contents h2,
h3 {
  color: var(--secondaryColor);
  font-size: 1rem;
}
.contents {
  padding: 1.5rem;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}
.contact p {
  justify-content: left;
}
.contents span {
  font-weight: 100;
  padding-left: 0.3rem;
}
.remove{
  border: none !important;
  padding: 1.3%;
  border-radius: 4rem;
  font-size: 10px;
}
.accordian{
  display:flex !important; 
}
.profileDiv{
  justify-content: center;
}
.hospital_profile_details{
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .profile_banner img {
    width: 80%;
  }
  .profile {
    padding: 1rem;
  }
  .Profile_list li {
    text-align: left;
  }
  .contents{
   margin-left: 15%;
  }
}
.tick{
  width: 1.2rem !important;
  color: rgba(6, 6, 74, 0.685);
  margin-top: 1rem;
}
.jobList{
  
  overflow-y: scroll;
  padding-bottom: 10%;
}
.jobList::-webkit-scrollbar{
display: none;
}
.hospitalImg{
  width: 100%;
  height: 300px;
}
.contents, .jobList{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 18rem;
}
.contents{
  margin-top: 5%;
}
.jobList{
  padding: 5%;
  margin-bottom: 5%;
}
.jobList h3{
  text-align: center;
  margin-top: -3%;
  font-size: 1.1rem;
}
.fileName{
  width: 200px !important;
}

.jobList{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.jobList button{  
  margin-bottom: 0.5rem;
  background-color: rgb(214,45,90);
}
@media screen and (max-width: 1920px) {
  .hospitalImg{
    height: 400px;
  }
  .profile_banner img {
    height: 16rem !important;
    width: 16rem;
  }
}
@media screen and (max-width: 1600px) {
  .hospitalImg{
    height: 300px;
  }
  .profile_banner img {
    height: 12rem !important;
    width: 12rem;
  }
}
.resume{
  display: flex !important;
}