.viewMoreContainer {
  display: grid;
  grid-template-columns: 60% 40%;
}
.adContainer img {
  width: 100%;
}
.viewJob {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 0.5rem;
  padding: 1rem;
}
.viewJob {
  padding-left: 3rem !important;
}
.head img{
  width: 10%;
  padding: 1%;
}
.header_jobDetails img{
  width: 13%;
  margin: 1rem;
}
@media screen and (max-width: 800px) {
  .viewMoreContainer {
    grid-template-columns: 1fr;
  }
  .adContainer {
    margin: 0 auto;
    width: 98%;
  }
  .adContainer img {
    width: 40%;
   transform: translate(-200px,100px) !important;
  }
}
@media screen and (max-width: 500px) {
  .viewMoreContainer li {
    text-align: left;
  }
}
