.login_contents {
  background-color: white;
  text-align: center;
}
.loginDiv {
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  background-color: white;
  margin: 3% 13%;
  padding: 0%;
}
.SignupDiv{
  display: grid;
  grid-template-columns: 45% 55%;
  justify-content: center;
  background-color: white;
  margin: 0% 13%;
}
.loginMain {
  background-image: url("https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.jpg?w=996&t=st=1688708780~exp=1688709380~hmac=3f95d519b7d37603704dac7d2b77c24befe41f7bbcd1fdf1c8aa094da8fc1995");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hospitalLoginMain {
  padding-top: 3%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/003/127/950/original/abstract-soft-blue-background-with-dynamic-waves-shape-free-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.loginContainer {
  padding-top: 3%;
}
.input_login {
  width: 100%;
}
.login_button {
  background-color: rgb(23, 129, 174) !important;
  width: 80% !important;
  padding: 0.2rem !important;
  font-size: 1.2rem !important;
}
.buttonWidth{
  width: 90% !important;
}
.loginIcons {
  color: rgb(23, 129, 174) !important;
}
.login_contents input {
  margin: 1.6%;
  padding: 2%;
}
.login_contents input:focus {
  outline: none;
}
.login_contents textarea:focus {
  outline: none;
}
.required {
  color: red;
  font-size: 0.7rem;
}
.error-pwd {
  color: red;
  font-size: 0.7rem;
  transform: translate(calc(50% - 20px));
}
.img-signup img {
  width: 100% !important;
  height: 88.5%;
}
.img-signup {
  background-image: url("https://img.freepik.com/premium-photo/doctor-patient-handshake_151013-11283.jpg?w=900");
  background-size: cover;
}
@media screen and (max-width: 1920px) {
  .input_login,
  .login_button {
    width: 70%;
  }
  .loginMain {
    padding-top: 10%;
  }
  .login_contents {
    padding: 6rem 3rem;
  }
}
@media screen and (max-width: 1440px) {
  .input_login,
  .login_button {
    width: 90%;
  }
  .loginMain {
    padding-top: 4%;
  }
  .login_contents {
    padding: 3rem;
  }
}
@media screen and (max-width: 940px) {
  .login_contents {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .login_contents {
    width: 70%;
    padding: 1.5rem;
  }
  .loginContainer {
    padding-top: 3rem;
  }
}
@media screen and (max-width: 450px) {
  .login_contents {
    width: 77%;
  }
}
@media screen and (max-width: 450px) {
  .input_login,
  .login_button {
    width: 100%;
  }
  .loginMain {
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 360px) {
  .input_login {
    width: 13rem !important;
  }
  .login_button {
    width: 13rem !important;
  }
}


.resumeField{
  border-bottom:1px solid rgb(151, 151, 151) ;
  text-align: left;
  color: rgb(145, 145, 145);
  padding: 2.2%;
  margin-top: 8%;
  font-family:Arial, Helvetica, sans-serif;
}



/*----------------- Forgot Password -----------------------------------*/

.forgotMain{
  padding: 5% 15%!important;
}
.resetButton{
  background-color:  #ee2c82 !important;
  border: none !important;
  color: white !important;
  padding: 1.9% !important;
  border-radius: 15px;
  font-size: .8rem !important;
}

.forgotSub{
  border: 0.2px solid rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 5% ;
  display: grid;
  grid-template-columns: 38% 35%;
  gap: 13%;
}

@media screen and (max-width:750px){
  .forgotSub{
    grid-template-columns: 1fr;
    gap: 3%;
    padding-bottom: 15% !important;
  }
  .resetButton{
  text-align: center !important;
  }
}
.terms:hover{
  cursor: pointer;
}
.forgotSub img{
  width: 100% !important;
}
