.slide1-banner {
  background-image: url("https://img.freepik.com/free-photo/digital-composite-doctor-with-white-graph-with-flare-against-blurry-background-with-light-blue-overlay_1258-84253.jpg?size=626&ext=jpg&uid=R80785723&ga=GA1.2.1086444235.1664621434&semt=sph");
  padding-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .searchPad{
  margin: 4rem;
} */

.title {
  padding: 20px;
  text-align: center;
  color: var(--textColor);
  padding-top: 8rem;
  margin-top: -80px;
}
.title h1 {
  font-size: 3rem;
  font-weight: 500;
}

.title h5 {
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .slide1-banner {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190222/ourmid/pngtree-blue-hospital-medical-western-medicine-poster-background-backgroundmedical-backgrounddoctor-backgroundhospital-image_63770.jpg");
  }
}


@media screen and (max-width:1930px){
  .searchPad {
    margin: 5% 12%;
  }
}
